.art_modal_dialog {
  width: 90vw;
  height: 95%;
  padding: 0;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: blue;
  &::backdrop,
  & + .backdrop {
    background: rgba(30, 30, 30, 0.7);
  }

  .art_swiper {
    height: 100%;

    > div:nth-child(2) {
      position: absolute;
      bottom: 3rem;
      span {
        border-radius: 0;
        opacity: 1;
        width: 50px;
        margin-right: 1rem;
        --swiper-theme-color: var(--cl-main-bg);
        --swiper-pagination-bullet-inactive-color: var(
          --cl-archiveSwiper-Inactive
        );
      }
    }
  }
}

.art_modal_container {
  width: 90vw;
  height: 100%;
  padding: 0;
  border-radius: 20px;
  background-color: var(--cl-main-font);
  z-index: 2;

  .art_modal_grid.no_aside {
    grid-template-columns: 1fr;
  }

  .art_modal_grid.no_footer {
    grid-template-rows: 5rem 50rem;
  }

  .art_modal_grid {
    height: 100%;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 5rem 50rem 3rem;
    padding: 2rem 5rem;
  }

  .art_closeBtn {
    cursor: pointer;
  }

  .art_modal_header {
    // border: 5px solid yellow;
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    h2 {
      position: relative;
      left: 28rem;
    }
    .art_modal_close_Btn {
      position: absolute;
      right: 5rem;
    }
  }

  .art_modal_aside {
    // border: 5px solid blue;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .art_modal_article.no_aside {
    grid-column: 1 / 3;
  }
  .art_modal_grid.campType {
    .art_modal_article {
      .article_content {
        .camp_artwork_img {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
          grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
  .art_modal_article {
    // border: 5px solid red;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;

    .article_header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      h4 {
        margin-left: 8rem;
      }
    }
    .article_content {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
    }
    .article_content.vertical_half {
      display: flex;
      gap: 3rem;
      padding: 3rem;
      .artist_artwork_img {
        width: 400px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .art_modal_footer {
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;

    grid-column: 1 / 3;
    grid-row: 3 / 4;

    .slide_nav {
      > ul {
        display: flex;
        align-content: center;
        flex-wrap: unset;
        gap: 1rem;
        li {
          width: 50px;
          height: 10px;
          background-color: var(--cl-archiveSwiper-Inactive);
        }

        .nav_active {
          background-color: var(--cl-main-bg);
        }
      }
    }
  }

  .article_content.video {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {
  .art_modal_container {
    .art_modal_grid.campType {
      .art_modal_article {
        .article_content {
          .camp_artwork_img {
            // display: unset;
            grid-template-columns: repeat(2, minmax(400px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
            img {
              // object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1080px) {
  .art_modal_container {
    .art_modal_grid.campType {
      grid-template-columns: 1fr;
      .art_modal_header {
        justify-content: center;
        h2 {
          left: unset;
        }
      }

      .art_modal_aside {
        display: none;
        grid-column: unset;
        grid-row: unset;
      }

      .art_modal_article {
        grid-template-rows: 1fr;
        grid-column: 1 / 2;
        .article_header {
          display: none;
          grid-column: unset;
          grid-row: unset;
        }
        .article_content {
          grid-column: 1 / 2;
          display: flex;
          justify-content: center;
          // align-content: center;
          grid-row: 1 / 2;
        }
      }
    } // campaignType end

    .art_modal_grid.artistType.second_Page {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      grid-template-rows: 5rem 60rem 3rem;
      .art_modal_article {
        .article_content {
          grid-row: 1 / 2;
        }
      }
    }

    .art_modal_grid.artistType {
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 30rem 10rem;

      .art_modal_aside.no_aside {
        display: none;
      }
      .art_modal_aside {
        width: 100%;
        grid-row: 3 / 4;
        figure {
          display: none;
          margin-bottom: unset;
        }

        .artist_info {
          padding-top: 0.5rem;
          width: 100%;
          position: relative;
          text-align: center;
        }
        .artsist_address {
          width: 100%;
          display: flex;
          align-items: center;

          > * {
            width: 58.5%;
          }
        }
      }

      .art_modal_header {
        grid-column: 1 / 2;
        h2 {
          display: none;
        }
      }
      .art_modal_article {
        grid-column: 1 / 2;
        grid-template-rows: 1fr;
        .article_header {
          display: none;
          grid-column: unset;
          grid-row: unset;
        }
        .article_content.vertical_half {
          display: unset;
          grid-row: 1 / 2;
          .artist_artwork_img {
            width: 380px;
            margin: 0 auto;
          }
        }
        .artwork_script {
          display: none;
        }
      }

      .art_modal_footer {
        display: none;
        grid-column: unset;
        grid-row: unset;
      }
    } /// artistType end
  }
}

// / 태블릿, 아이패드 /
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .art_modal_container {
    .art_modal_grid.campType {
      grid-template-columns: 1fr;
      .art_modal_aside {
        display: none;
        grid-column: unset;
        grid-row: unset;
      }
      .art_modal_article {
        grid-column: 1 / 2;
      }
    }
  }
}

// / 아이패드 프로 /
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .art_modal_container {
    .art_modal_grid.campType {
      grid-template-rows: 10rem 60rem 3rem;
      .article_content {
        display: flex;
        justify-content: center;
        // align-content: center;
        .campaign_video {
          position: relative;
          top: 3rem;
        }
      }
    }
    //campaignType end
  }
}

// / 스마트폰 모바일(세로) /

@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .art_modal_dialog {
    .art_swiper {
      // height: 100%;

      > div:nth-child(2) {
        position: absolute;
        bottom: 1rem;
      }
    }
  }

  .art_modal_container {
    overflow-y: scroll;
    .art_modal_grid.campType {
      padding: unset;
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 45rem 3rem;
      .art_modal_header {
        h2 {
          position: relative;
          top: 1.7rem;
        }
        .art_modal_close_Btn {
          right: 1.3rem;
          top: 1.3rem;
        }
      }

      .art_modal_aside {
        display: none;
        grid-column: unset;
        grid-row: unset;
      }

      .art_modal_article {
        grid-column: 1 / 2;
        .article_content {
          .camp_artwork_img {
            display: grid;
            margin: 0 auto;
            max-width: 85%;
            grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
            > div {
              height: 300px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 92%;
                height: 85%;
              }
            }
          }
        }
      }
    }
    .art_modal_grid.artistType.second_Page {
      .art_modal_article {
        .artist_imgs {
          grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        }
        .article_content {
          display: flex;
          justify-content: center;
        }
      }
    }

    .art_modal_grid.artistType {
      padding: unset;
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 18rem 18rem;

      .art_modal_header {
        .art_modal_close_Btn {
          right: 2rem;
          top: 2rem;
        }
      }
      .art_modal_article {
        .article_content.vertical_half {
          padding: unset;
          .artist_artwork_img {
            width: 288px;
          }
        }
      }

      .art_modal_aside {
        figure {
          margin-bottom: unset;
        }
      }

      .art_modal_article {
        .article_content.vertical_half {
          .artist_artwork_img {
            img {
              width: 270px;
              height: 330px;
            }
          }
        }
      }
    }
  }
}

// / 아이폰 SE /

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .art_modal_container {
    .art_modal_grid.campType {
      .art_modal_article {
        .article_content {
          .camp_artwork_img {
            > div {
              justify-content: unset;
            }
          }
        }
      }
    }

    .art_modal_grid.artistType {
      grid-template-rows: 3rem 14rem 18rem;

      .art_modal_header {
        .art_modal_close_Btn {
          top: 1rem;
          right: 1rem;
          .art_closeBtn {
            width: 26px;
            height: 26px;
          }
        }
      }

      .art_modal_article {
        .article_content.vertical_half {
          .artist_artwork_img {
            img {
              width: 270px;
              height: 300px;
            }
          }
        }
      }
    }
  }
}
