:root {
  --cl-main-bg: #1e1e1e;
  --cl-about-bg: #292929;
  --cl-main-font: #ffffff;
  --cl-art-modal: #d9d9d9;
  --cl-script-font: #c1c1c1;
  --cl-aboutSwiper: #979797;
  --cl-archiveSwiper-Inactive: #878787;

  //스크롤 이벤트 전파 방지 + ios 바운스 스크롤(리프레쉬) 효과 방지
  overscroll-behavior: none;

  // 폰트 최적화
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  font-kerning: none;
}

/* border-box 초기화 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 공백 초기화 */
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  /* color: inherit; */
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body,
p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

img {
  vertical-align: top;
  width: 100%;
}

/* 디자인 초기화 */
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 12px;
  border: 0;
}

button {
  appearance: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
}

.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

.karla {
  font-family: var(--font-karla-variable);
}
.karlaLight {
  font-family: var(--font-karla-light);
}
.karlaBold {
  font-family: var(--font-Karla-Bold);
}
.notosans {
  font-family: var(--font-NotoSans-Regular);
}
.notoblack {
  font-family: var(--font-NotoSans-black);
}
.notobold {
  font-family: var(--font-NotoSans-Bold);
}
.notosembold {
  font-family: var(--font-NotoSans-semiBold);
}
.notoExbold {
  font-family: var(--font-NotoSans-ExtraBold);
}
.notomediun {
  font-family: var(--font-NotoSans-mediun);
}
.trirong {
  font-family: var(--font-Trirong-regular);
}
.kotta {
  font-family: var(--font-KottaOne-regular);
}
